$palette-accent: (
  50: #ffe8f0,
  100: #ffc6d9,
  200: #ffa0c0,
  300: #ff79a7,
  400: #ff5d94,
  500: #ff4081,
  600: #ff3a79,
  700: #ff326e,
  800: #ff2a64,
  900: #ff1c51,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffcdd7,
  A700: #ffb3c3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
