$palette-primary: (
  50: #eaf5ff,
  100: #cae6ff,
  200: #a7d6ff,
  300: #84c5fe,
  400: #69b8fe,
  500: #4facfe,
  600: #48a5fe,
  700: #3f9bfe,
  800: #3692fe,
  900: #2682fd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #d2e4ff,
  A700: #b8d5ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
