$palette-warn: (
  50: #fee8e7,
  100: #fbc7c3,
  200: #f9a19b,
  300: #f77b72,
  400: #f55f54,
  500: #f34336,
  600: #f13d30,
  700: #ef3429,
  800: #ed2c22,
  900: #ea1e16,
  A100: #ffffff,
  A200: #ffe8e7,
  A400: #ffb6b4,
  A700: #ff9d9b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
